# Exclude .terraform directory
.terraform/

# Exclude Terraform state files
*.tfstate
*.tfstate.backup

# Exclude lock files if not needed
*.lock.hcl

# Exclude sensitive files
*.key
*.pem

# Exclude temporary files
*.tmp
