# Exclude .terraform directory
.terraform/

# Exclude Terraform state and backup files
*.tfstate
*.tfstate.backup

# Exclude lock files if not needed
*.lock.hcl

# Exclude sensitive files
*.key
*.pem
*.tmp
# Exclude private and public keys
terraform/kush-prac-terra-key
terraform/kush-prac-terra-key.pub
